/*Basic settings*/
* {
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	position: relative;
}
a:focus {
	outline: none;
}
button:focus, input:focus {
	outline: none;
}
/*Sidebar*/
.sidebar {
	text-align: center;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
  	position: fixed;
  	left: 0px;
  	top: 0px;
  	width: 10rem;
  	height: 100vh;
  	z-index: 5;
}
.logo {
	padding-top: 3rem;
}
.logo img{
	width: 4rem;
}
.items {
	padding-top: 10rem;
}
.item {
	width: 5rem;
	display: block;
	margin: 0 auto;
	margin-bottom: 5rem;
	height: 5rem;
}
.item-1 {
	background: url(../img/home.svg) no-repeat center center;
	-webkit-background-size: 6rem;
	background-size: 1.9rem;
}
.item-2 {
	background: url(../img/basket.svg) no-repeat center center;
	-webkit-background-size: 6rem;
	background-size: 2.5rem;
}
.item-3 {
	background: url(../img/search.svg) no-repeat center center;
	-webkit-background-size: 6rem;
	background-size: 2rem;
}
.in {
	position: absolute;
	bottom: 4rem;
	left: 50%;
	margin-left: -1rem;
}
.in img {
	width: 2rem;
}
.hamburger {
	position: fixed;
	top: 3rem;
	right: 4rem;
	background-color: #fff;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	padding-top: 1.75rem;
	box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
	z-index: 99;
}
/*Radius-Menu*/
.hamburger span {
	display: block;
	margin: 2px auto;
	background-color: #0023ff;
	height: 2px;
	width: 30%;
}
/*Main screen*/
.main {
	min-height: 450px;
	height: 100vh;
}
.main-item_1 {
	height: 100%;
	background: url(../img/main-item_1.jpg) no-repeat center;
	background-size: cover;
}
.main-item {
	text-transform: uppercase;
	text-align: center;
	padding-top: 10rem;
	position: relative;
}
.main-item_1 h2 {
	font-size: 10rem;
	font-weight: 100;
	position: relative;
	z-index: 1;	
}
.main-item_1 h3 {
	font-size: 2rem;
	margin-top: 2rem;
	position: relative;
	z-index: 1;	
}
.main-item_1 span {
	font-weight: 900;
	font-size: 20rem;
	color: #e9e9e9;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-70%);
	z-index: 0;
}
.main-btn {
	position: relative;
	z-index: 1;
	margin-top: 2rem;
	background-color: #0023ff;
	border: none;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	padding: 1.4rem 5rem;
	font-size: 1.4rem;
}
/*Menu*/
.menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 35rem;
	height: 100vh;
	background-color: #fff;
	z-index: 99;
	transform: translateX(100%);
	transition: all 0.2s;
}
#main-menu:target {
	transform: translateX(0);
	box-shadow: 0 0 3rem rgba(0,0,0,.1);
}
#main-menu:target + .hamburger {
	display: none;
}
#close-menu {
	padding-top: 0;
}
#close-menu span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
}
#close-menu span:nth-child(1) {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
#close-menu span:nth-child(2) {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.navigation img{
	width: 4rem;
	vertical-align: middle;
	display: inline-block;
	margin-left: 2rem;
}
.navigation {
	text-align: right;
	padding-top: 10rem;
	line-height: 4;
}
.navigation li {
	display: block;
	padding-right: 5rem;
}
.navigation a {
	display: block;
	text-transform: uppercase;
	font-size: 2rem;
	color: #c1c1c1;
	text-decoration: none;
	transition: all 0.2s;
}
.navigation a:hover {
	margin-right: 2rem;
	color: #0023ff;
}
.categories-link {
	position: absolute;
	bottom: 1.5rem;
	right: 50%;
	transform: translateX(50%);
	text-transform: uppercase;	
}
.categories-link a {
	color: #0023ff;
	font-weight: 400;
	font-size: 1.5rem;
	text-decoration: none;
	display: block;
}
.categories-link span {
	transition: all 0.2s;
}
.categories-link a:hover + span {
	width: 30%;
}
.link-line {
	display: block;
	width: 70%;
	margin: 1rem auto;
	height: 2px;
	background-color: #0023ff;
}
/*Products*/
.container {
	width: 960px;
	margin: 0 auto;
}
.categories-header h2 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 4rem;
	display: inline-block;
}
.categories-header span {
	vertical-align: top;
	display: inline-block;
	float: right;
	font-size: 2rem;
	color: #c1c1c1;
	text-transform: uppercase;
	margin-right: 10rem;
}
.categories-header span img {
	width: 4rem;
	display: inline;
	vertical-align: middle;
	margin-left: 2rem;
}
.categories {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: #f0f0f0;
	min-height: 100vh;
}
.products-cards {
	padding-top: 4rem;
}
.card {
	display: inline-block;
	background-color: #fff;
	text-decoration: none;
	color: #a8a8a8;
	line-height: 2rem;
	padding: 1rem;
	margin-top: 2rem;
	height: 30rem;
	vertical-align: middle;
}
.card h3 {
	text-transform: uppercase;
	font-size: 1.6rem;
	color: #000;
}
.card p {
	font-size: 1.3rem;
}
.card-price {
	color: #0023ff;
	font-weight: 900;
	font-size: 1.6rem;
	margin-top: 1rem;
	display: inline-block;
}
.card img {
	display: inline-block;
	height: 20rem;
	vertical-align: middle;
}
.card-text {
	display: inline-block;
	margin-left: 3rem;
	vertical-align: middle;
}
.card:nth-child(1), .card:nth-child(3) {
	width: 25%;
	margin-right: 2rem;
}
.card:nth-child(2) {
	padding-top: 4rem;
	line-height: 3rem;
	width: 70%;
}
.card:nth-child(4) {
	padding-top: 6rem;
	line-height: 3rem;
	margin-right: 2rem;
	width: 44.8%;
}
.card:nth-child(2) h3 {
	font-size: 3rem;
}
.show-more-link {
	text-align: center;
	margin-top: 4rem;
}
.show-more-link a {
	text-transform: uppercase;
	color: #0023ff;
	font-size: 1.5rem;
	text-decoration: none;
}
.card-product {
	margin-left: 10rem;
	background-color: #f0f0f0;
	position: relative;
}
.rating {
	text-align: right;
}
.photo-block {
	display: inline-block;
	position: fixed;
	top: 0;
	left: 10rem;
	width: 50rem;
	padding: 3rem;
	padding-top: 5rem;
	box-shadow: 0px -15px 25px 0px rgba(219, 219, 219, 0.45);
	min-height: 100vh;
	background-color: #fff;
	z-index: 4;
}
.photo-product {
	text-align: center;
	padding-top: 15%;
}
.photo-product img {
	width: 70%;
	max-width: 40rem;
}
.rating img {
	width: 2rem;
	vertical-align: middle;
}
.rating span {
	vertical-align: middle;
	font-size: 1.5rem;
}
.card-panel {
	position: absolute;
	width: 100%;
	bottom: 4rem;
}
.zoom {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
.zoom img {
	padding-top: .5rem;
	width: 2rem;
	margin-right: 1rem;
}
.search {
	float: right;
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
.map-icon {
	width: 2rem;
	margin-right: 2rem;
}
.search-icon {
	width: 2.5rem;
}
.card-header {
	display: inline-block;
	vertical-align: top;
	padding-top: 4rem;
	padding-left: 55rem;
	width: 100%;
	position: relative;
	min-height: 80rem;
	height: 100vh;
}
.offer-text h3 {
	text-transform: uppercase;
	font-size: 5rem;
	margin-top: 10rem;
	margin-bottom: 2rem;
}
.offer-text h3 span {
	color: #0023ff;
}
.offer-text p {
	font-size: 1.5rem;
	line-height: 2;
	color: #a8a8a8;
	margin-bottom: 3rem;
}
.cost {
	display: inline-block;
	width: 35%;
}
.cost-head {
	text-transform: uppercase;
	display: block;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.product-settings {
	margin-top: 6rem;
}
.product-price {
	font-size: 3rem;
	font-weight: 400;
	color: #0023ff;
	vertical-align: middle;	
}
.cost span s {
	vertical-align: middle;
	font-size: 1.5rem;
	margin-left: 1rem;
	font-weight: 900;
}
.quantity {
	vertical-align: top;
	display: inline-block;
}
.quantity-head {
	text-transform: uppercase;
	display: block;
	font-size: 1.4rem;
	margin-bottom: 1rem;
}
.quantity-number {
	width: 6rem;
	padding: 1rem;
	border-radius: 3rem;
	border: none;
	font-weight: 900;
}
.card-btn {
	display: inline-block;
	margin-left: 2rem;
}
.add-btn {
	padding: 1.2rem 4rem;
	border-radius: 50px;
	border: none;
	background-color: #0023ff;
	text-transform: uppercase;
	color: #fff;
	font-weight: 900;
}
.recomended {
	width: 100%;
	height: 17rem;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	z-index: 1;
	padding-left: 50rem;
}
.recomended-head {
	position: absolute;
	transform: translateY(-50%) translateX(-10%) rotate(-90deg);
	top: 50%;
	text-transform: uppercase;
	font-size: 2rem;
	color: rgba(0,0,0,.2);
}
.recomended-good {
	height: 100%;
	margin-left: 6rem;
	padding: 1rem;
	padding-left: 3rem;
	display: inline-block;
	width: 24%;
}
.recomended-good img {
	width: 12rem;
	display: block;
	margin: 0 auto;
}
.recomended-good h4 {
	text-transform: uppercase;
	font-size: 1.2rem;
	line-height: 1;
}
/*Search block*/
.search-block {
	display: none;
}
.search-block:target {
	display: block;
	padding-left: 20rem;
	padding-top: 20rem;
	z-index: 4;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	min-height: 45rem;
	background-color: rgba(255,255,255,.98);
}
.input-search {
	padding: 3rem;
	padding-left: 0;
	padding-bottom: 5rem;
	border: none;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(0,0,0,.1);
	width: 70%;
	background-color: transparent;
	height: 13rem;
	font-size: 5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}
.search-close {
	text-decoration: none;
	font-size: 6rem;
	vertical-align: top;
	color: rgba(0,0,0,.5);
}
.help-text {
	font-size: 1.5rem;
	color: rgba(0,0,0,.4);
	margin-top: 2rem;
}
.search-resoult {
	margin-top: 2rem;
}
.resoult-product {
	display: inline-block;
	width: 35%;
	vertical-align: middle;
}
.resoult-product img {
	vertical-align: middle;
	width: 20rem;
}
.resoult-product span {
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 3rem;
	margin-left: 2rem;
}







/*Media*/
@media (max-width: 1300px) {
	.resoult-product span {
		font-size: 1.5rem;
	}
	.resoult-product img {
		width: 10rem;
	}
	.card-header {
		padding-left: 47rem;
	}
	.container {
		width: 90%;
		margin: 0 auto;
		padding-left: 10rem;
		padding-right: 10rem;
	}
	.photo-block {
		width: 45rem;
	}
	.recomended {
		padding-left: 45rem;
	}
		.categories-header span {
		font-size: 0.9rem;
	}
}
@media (max-width: 1024px) {
	html {
		font-size: 8px;
	}
	.navigation {
		padding-top: 12rem;
	}
	.photo-block {
		display: block;
		position: relative;
		left: 0;
		width: 100%;
		min-height: 45vh;
		height: auto;
		padding-top: 5rem;
		overflow-x: hidden;
	}
	.photo-product {
		padding-top: 7%;
	}
	.photo-product img {
		width: 40%;
	}
	.rating {
		padding-right: 10rem;
	}
	.search {
		text-align: center;
	}
	.card-header {
		width: 100%;
		min-height: 80rem;
		height: auto;
		padding-left: 5rem;
	}
	.recomended {
		padding-left: 0;
		text-align: center;
	}
	.recomended-good {
		margin-left: 0;
		margin-right: 1rem;
	}
	.recomended-head {
		transform: translateY(-50%) translateX(-100%) rotate(-90deg);
	}
}
@media (max-width: 768px) {
	html {
		font-size: 6px;
	}
	.hamburger {
		width: 6rem;
		height: 6rem;
	}
}
@media (max-width: 1200px) {
	.card {
		display: inline-block;
		width: 45% !important;
		margin-right: -4px;
		height: 40rem;
		position: relative;
		padding: 3rem;
	}
	.card img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.card h3 {
		font-size: 3rem;
	}
	.mini-card-text, .card-text {
		display: inline-block;
		vertical-align: middle;
		position: absolute;
		bottom: 1rem;
		width: 100%;
		line-height: 2;
	}
}
@media (max-width: 640px) {
	.resoult-product {
		display: block;
		width: 100%;
		margin-top: 3rem;
	}
	.card {
		display: block !important;
		width: 100% !important;
	}
}
@media (max-width: 480px) {
	.categories-header span {
		font-size: 1rem;
	}
	.recomended-head {
		transform: translateY(-50%) translateX(-70%) rotate(-90deg);
	}
}